@font-face {
	font-family: "Fin-site-font";
	src: url('europeext-webfont.woff2') format('woff2'),
		url('europeext-webfont.woff2') format('woff');
	font-weight: normal;
	font-style: normal;

}

/* дарк
		--bg-color: #2c2c2c;
		--text-color: #e0e0e0;
		--accent-color: #757575; */

/*--bg-color: #eceff4;
		--text-color: #2e3440;
		--accent-color: #5e81ac;*/

/* 	--bg-color: #f5f5f5;
			--text-color: #2c2c2c; */

/*--accent-color: #6200ea;*/
:root {
	--bg-color: #dee1e7;
	--text-color: #2e3440;
	--accent-color: #5e81ac;
	--hover-color: #b2ccec;
	--form-color: #c9d2dd;

	--income-color: rgb(54, 128, 70);
	--expense-color: rgb(151, 99, 78);
}

.income-bg {
	color: var(--income-color);
}

.expenses-bg {
	color: var(--expense-color);
}

.dark-theme {
	--bg-color: #2c2c2c;
	--text-color: #e0e0e0;
	--accent-color: #757575;
	--hover-color: #b2ccec;
	--form-color: #e0e0e0;

	--income-color: rgba(106, 250, 137, 0.6);
	--expense-color: rgba(252, 161, 125, 0.6);
}

body {
	max-width: 1200px;
	margin: 0 auto;
	background-color: var(--bg-color);
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color: var(--text-color);
	transition: background-color 0.3s ease;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wrapper {
	width: 90%;
	margin: 20px auto;
}

section {
	width: 100%;
	margin: 30px auto;
}

h2,
p {
	text-align: center;
}

p {
	font-size: clamp(12px, 2vw, 16px);
}

ul {
	margin: 0;
	margin-left: clamp(2px, 3vw, 40px);
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 12px;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
}

.header nav {
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 6px;
}

.header nav>* {
	flex: 1 1 20%;
}

.theme-selector {
	display: flex;
	align-items: center;
	justify-content: end;
}

.theme-selector-image {
	max-width: 30px;
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 18px;
	transition: 0.3s;
	stroke: var(--text-color);
}

.theme-selector-image:hover,
.theme-selector-image:focus {
	border: 1px solid var(--hover-color);
}

.theme-selector-image:active {
	border: 1px solid var(--hover-color);
	box-shadow: 2px 2px 10px 0px var(--hover-color);
}

li {
	margin: 4px 4px;
	marker-start: none;
}

.header a {
	display: block;
	padding: 20px 4px;
	text-decoration: none;
	font-size: 18px;
	color: var(--accent-color);
	color: var(--accent-color);
}

a:hover {
	font-weight: 700;
	text-shadow: 2px 2px 4px var(--bg-color);
	transition: 0.3s;
}

.balance {
	font-weight: 700;
}

.balance-text {
	font-size: clamp(18px, 2vw, 24px);
}

/*
.income-input {
	border-width: 2px;
	border: 2px;
	border-color: black;
	padding-top: 12px;
	padding-bottom: 12px;
	box-sizing: border-box;
}*/

.balance-sec {
	box-sizing: border-box;
	width: 80%;
	justify-content: center;
}

.income-form {
	margin: 0 auto;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
}

.income-form .data-container {
	display: flex;
	/*flex-wrap: wrap;*/
	margin: 10px 0;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 36px;
}

.income-form .def-input {
	font-size: 14px;
	padding: 10px;
	border: 0px;
	border-radius: 5px;
	background-color: var(--form-color);
	font-family: "Fin-site-font", "Montserrat", sans-serif;
	width: 100%;
}

/* button */
.income-form .button-container {
	display: flex;
	justify-content: center;
	gap: 2%
}


.income-form .button-container .submit-btn {
	width: 45%;
	height: 50px;
	margin: 4px 4px;
	font-size: 18px;
	border-radius: 15px;
	border: 0;
	font-family: "Fin-site-font", "Montserrat", sans-serif;
	background-color: var(--accent-color);
}

.submit-btn:hover {
	font-weight: 700;
	text-shadow: 2px 2px 4px var(--hover-color);
	box-shadow: 2px 2px 10px 0px var(--hover-color);
	transition: 0.5s;
}

.market-list-header>div>span:hover {
	font-weight: 900;
	transition: 0.5s;
	cursor: pointer;
	color: var(--accent-color);
	text-shadow: 2px 2px 4px #232323;
}

.submit-btn:active {
	box-shadow: 0 0 0 6px var(--hover-color);
}

/* statistic */
.statistic-sec {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.justify-end {
	justify-content: flex-end !important;
}

.text-start {
	text-align: left !important;
}

.text-end {
	text-align: right !important;
}

.statistic-sec .market-list-header {
	font-weight: 700;
	display: flex;
	font-size: 16px;
	padding: 0 0 6px;
	width: 100%;
}

.statistic-sec .market-list-header .list-column,
.statistic-sec .list-item .item-cell {
	align-items: center;
	/*display: flex;*/
	flex-grow: 1;
}

/* itn-list */

.statistic-sec .list-item {
	align-items: center;
	display: flex;
	padding: 0;
	position: relative;
	width: 100%;
}

/*
.market-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.market-list-header,
.list-item {
	display: contents;
}

*/
.market-list-header div,
.list-item div {
	padding: 6px;
	text-align: center;
	border: 1px solid #ddd;
	min-width: 50px;
	max-width: 245px;
	width: 150px;
}

/* menu */
.context-menu {
	display: none;
	position: absolute;
	background-color: var(--bg-color);
	border: 1px solid var(--text-color);
	box-shadow: 0 0 10px var(--text-color);
	border-radius: 10px;
	overflow: hidden;
	z-index: 1000;
	transition: opacity 0.5s ease;
	opacity: 0;
}

#context-menu.show {
	display: block;
	opacity: 1;
}

.context-menu button {
	padding: 10px;
	width: 100%;
	border: 1px solid var(--text-color);
	background-color: #f5f5f5;
	cursor: pointer;
}

.context-menu button:hover {
	background-color: var(--hover-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* модальне вікно так/ні */
.context-box {
	position: absolute;
	background: var(--bg-color, #fff);
	color: var(--text-color, #333);
	border: 1px solid var(--text-color, #333);
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	z-index: 1000;
	max-width: 350px;
	max-height: 200px;
}

.context-box p {
	margin: 0 0 20px 0;
	text-align: center;
}

.context-box div {
	align-items: end;
	justify-content: space-around;
	display: flex;
}

.context-box .buttons {
	display: flex;
	justify-content: space-around;
}

.context-box button {
	border: none;
	padding: 8px 10px;
	border-radius: 5px;
	cursor: pointer;
	min-width: 70px;
}

.context-box #yes-btn {
	background: var(--accent-color, #28a745);
	color: var(--text-color, #fff);
}

.context-box #no-btn {
	background: var(--hover-color, #dc3545);
	color: var(--text-color, #fff);
}

/*  */