body {
	max-width: 1200px;
	background: #a771a2;
	padding: 40px;
	font-family: "Montserrat", sans-serif;
}

ul {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.cost-list {
	display: flex;
	flex-direction: row;
	margin: 10px;
	display: block;
	padding: 0;
	font-size: 20px;
}

.dash-list {}

li {
	margin: 4px 4px;
	marker-start: none;
}

.income-input {
	border-width: 2px;
	border: 2px;
	border-color: black;
	padding-top: 12px;
	padding-bottom: 12px;
	box-sizing: border-box;
}

.submit-btn {
	width: 50%;
	height: 50px;
	margin: 4px 4px;
	font-size: 18px;
	font-weight: 700;

}

.income-field-container {
	margin: 12px 2px;
	font-size: 16px;
}